@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'RALEWAY';
	src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
}

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #f2f2f2;
	font-family: 'RALEWAY', sans-serif;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
	overflow-x: hidden;
}

@layer components {
	.cards {
		@apply flex flex-col w-[35vw] h-[25vh] p-2 justify-items-center items-center border hover:cursor-pointer;
	}
	.animal {
		@apply text-[120%] rotate-45 flex flex-auto items-center;
		text-shadow: 1px 0px 0px black, 0px 1px 0px black, 1px 1px 0px black,
			0px -1px 0px black, -1px 0px 0px black, -1px -1px 0px black;
	}
	.number {
		@apply self-start text-black bg-white w-6 h-6;
		border-radius: 50%;
	}
	.percentage {
		text-shadow: 1px 0px 0px black, 0px 1px 0px black, 1px 1px 0px black,
			0px -1px 0px black, -1px 0px 0px black, -1px -1px 0px black;
	}
	.header {
		@apply text-[#ef6173] mx-4;
	}
}

@media (min-width: 640px) {
	.cards {
		@apply w-[19vw] h-[38vh];
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	99.99% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

@keyframes textColor {
	0% {
		color: #ef6173;
	}
	12.5% {
		color: #eb3645;
	}
	25% {
		color: #f28e48;
	}
	37.5% {
		color: #f3cd46;
	}
	50% {
		color: #b0bc5a;
	}
	62.5% {
		color: #84a6d4;
	}
	75% {
		color: #2a4294;
	}
	87.5% {
		color: #bb478d;
	}
	100% {
		color: #ef6173;
	}
}
